<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link href="{{ asset('dist/vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">

			<link href="{{ asset('dist/vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">

			<link href="{{ asset('dist/vendors/nprogress/nprogress.css') }}" rel="stylesheet">

			<link href="{{ asset('dist/vendors/iCheck/skins/flat/green.css') }}" rel="stylesheet">

			<link href="{{ asset('dist/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css') }}" rel="stylesheet">

			<link href="{{ asset('dist/vendors/jqvmap/dist/jqvmap.min.css') }}" rel="stylesheet"/>

			<link href="{{ asset('dist/vendors/bootstrap-daterangepicker/daterangepicker.css') }}" rel="stylesheet">

			<link href="{{ asset('dist/build/css/custom.min.css') }}" rel="stylesheet">
		{% endblock %}
	</head>
	<body class="nav-md">
		<div class="container body">
			<div class="main_container">
				{% block sidemenu %}
					{% include "blocks/sidebar.html.twig" %}
				{% endblock %}
				{% block topbar %}
					{% include "blocks/topbar.html.twig" %}
				{% endblock %}
				<div class="right-col" role="main" style="min-height: 1378px;">
					<div style="background-color:white">
						{% block body %}{% endblock %}
					</div>
				</div>
			</div>
		</div>
		{% block javascripts %}
			<script src="{{ asset('dist/vendors/jquery/dist/jquery.min.js') }}" type="b0ce60118246b9ae0dada2fc-text/javascript"></script>

			<script src="{{ asset('dist/vendors/bootstrap/dist/js/bootstrap.min.js') }}" type="b0ce60118246b9ae0dada2fc-text/javascript"></script>

			<script src="{{ asset('dist/vendors/fastclick/lib/fastclick.js') }}" type="b0ce60118246b9ae0dada2fc-text/javascript"></script>

			<script src="{{ asset('dist/vendors/nprogress/nprogress.js') }}" type="b0ce60118246b9ae0dada2fc-text/javascript"></script>

			<script src="{{ asset('dist/vendors/Chart.js/dist/Chart.min.js') }}" type="b0ce60118246b9ae0dada2fc-text/javascript"></script>

			<script src="{{ asset('dist/vendors/gauge.js/dist/gauge.min.js') }}" type="b0ce60118246b9ae0dada2fc-text/javascript"></script>

			<script src="{{ asset('dist/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js') }}" type="b0ce60118246b9ae0dada2fc-text/javascript"></script>

			<script src="{{ asset('dist/vendors/iCheck/icheck.min.js') }}" type="b0ce60118246b9ae0dada2fc-text/javascript"></script>

			<script src="{{ asset('dist/vendors/skycons/skycons.js') }}" type="b0ce60118246b9ae0dada2fc-text/javascript"></script>

			<script src="{{ asset('dist/vendors/Flot/jquery.flot.js') }}" type="b0ce60118246b9ae0dada2fc-text/javascript"></script>
			<script src="{{ asset('dist/vendors/Flot/jquery.flot.pie.js') }}" type="b0ce60118246b9ae0dada2fc-text/javascript"></script>
			<script src="{{ asset('dist/vendors/Flot/jquery.flot.time.js') }}" type="b0ce60118246b9ae0dada2fc-text/javascript"></script>
			<script src="{{ asset('dist/vendors/Flot/jquery.flot.stack.js') }}" type="b0ce60118246b9ae0dada2fc-text/javascript"></script>
			<script src="{{ asset('dist/vendors/Flot/jquery.flot.resize.js') }}" type="b0ce60118246b9ae0dada2fc-text/javascript"></script>

			<script src="{{ asset('dist/vendors/flot.orderbars/js/jquery.flot.orderBars.js') }}" type="b0ce60118246b9ae0dada2fc-text/javascript"></script>
			<script src="{{ asset('dist/vendors/flot-spline/js/jquery.flot.spline.min.js') }}" type="b0ce60118246b9ae0dada2fc-text/javascript"></script>
			<script src="{{ asset('dist/vendors/flot.curvedlines/curvedLines.js') }}" type="b0ce60118246b9ae0dada2fc-text/javascript"></script>

			<script src="{{ asset('dist/vendors/DateJS/build/date.js') }}" type="b0ce60118246b9ae0dada2fc-text/javascript"></script>

			<script src="{{ asset('dist/vendors/jqvmap/dist/jquery.vmap.js') }}" type="b0ce60118246b9ae0dada2fc-text/javascript"></script>
			<script src="{{ asset('dist/vendors/jqvmap/dist/maps/jquery.vmap.world.js') }}" type="b0ce60118246b9ae0dada2fc-text/javascript"></script>
			<script src="{{ asset('dist/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js') }}" type="b0ce60118246b9ae0dada2fc-text/javascript"></script>

			<script src="{{ asset('dist/vendors/moment/min/moment.min.js') }}" type="b0ce60118246b9ae0dada2fc-text/javascript"></script>
			<script src="{{ asset('dist/vendors/bootstrap-daterangepicker/daterangepicker.js') }}" type="b0ce60118246b9ae0dada2fc-text/javascript"></script>

			<script src="{{ asset('dist/build/js/custom.min.js') }}" type="b0ce60118246b9ae0dada2fc-text/javascript"></script>
		{% endblock %}
	</body>
</html>
