{% extends 'base.html.twig' %}

{% block body %}
	<div class="row top_tiles" style="margin: 10px 0;">
		<div class="col-md-3 col-sm-3 col-xs-6 tile">
			<span>Total Sessions</span>
			<h2>231,809</h2>
			<span class="sparkline_one" style="height: 160px;">
				<canvas width="478" height="125" style="display: inline-block; width: 478px; height: 125px; vertical-align: top;"></canvas>
			</span>
		</div>
		<div class="col-md-3 col-sm-3 col-xs-6 tile">
			<span>Total Revenue</span>
			<h2>$ 231,809</h2>
			<span class="sparkline_one" style="height: 160px;">
				<canvas width="478" height="125" style="display: inline-block; width: 478px; height: 125px; vertical-align: top;"></canvas>
			</span>
		</div>
		<div class="col-md-3 col-sm-3 col-xs-6 tile">
			<span>Total Sessions</span>
			<h2>231,809</h2>
			<span class="sparkline_three" style="height: 160px;">
				<canvas width="200" height="40" style="display: inline-block; width: 200px; height: 40px; vertical-align: top;"></canvas>
			</span>
		</div>
		<div class="col-md-3 col-sm-3 col-xs-6 tile">
			<span>Total Sessions</span>
			<h2>231,809</h2>
			<span class="sparkline_one" style="height: 160px;">
				<canvas width="478" height="125" style="display: inline-block; width: 478px; height: 125px; vertical-align: top;"></canvas>
			</span>
		</div>
	</div>
{% endblock %}
